<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Busqueda</title>
</head>
<body>
    <p>Estamos buscando la marca {{ marca }}</p>

    {% if notebooks %}

    <ul>
        {% for notebook in notebooks %}
        <li> {{ notebook.marca }}: {{ notebook.modelo }}</li>
        {% endfor %}
    </ul>

    {% endif %}

</body>
</html>